<div class="accordion" id="accordionForm">
  <div class="accordion-item text-center">
    <h2 class="text-center accordion-header text-uppercase py-2">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >Lista de Productos<br />en Tiempo Real:</button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      data-bs-parent="#accordionForm"
    >
      <div class="accordion-body container rounded bg-info-subtle">
        <div class="card mb-5 col-md-6 offset-md-3">
          <div class="card-header text-center">
            <h5 class="fw-semibold text-uppercase">Formulario para crear
              producto</h5>
          </div>
          <div class="card-body">
            <form id="form" action="/api/products" method="POST">
              <div class="mb-3">
                <label
                  for="title"
                  class="form-label fw-semibold"
                >Producto:</label>
                <input
                  type="text"
                  class="form-control"
                  name="title"
                  id="title"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="description"
                  class="form-label fw-semibold"
                >Descripción:</label>
                <input
                  type="text"
                  class="form-control"
                  name="description"
                  id="description"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="price"
                  class="form-label fw-semibold"
                >Precio:</label>
                <input
                  type="number"
                  class="form-control"
                  name="price"
                  id="price"
                  step="50.00"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="thumbnail"
                  class="form-label fw-semibold"
                >Imagen:</label>
                <input
                  type="text"
                  class="form-control"
                  name="thumbnail"
                  id="thumbnail"
                  required
                />
              </div>
              <div class="mb-3">
                <label for="code" class="form-label fw-semibold">Código:</label>
                <input
                  type="text"
                  class="form-control"
                  name="code"
                  id="code"
                  required
                />
              </div>
              <div class="mb-3">
                <label
                  for="category"
                  class="form-label fw-semibold"
                >Categoría:</label>
                <select
                  class="form-select"
                  aria-label="Default select example"
                  name="category"
                  id="category"
                  required
                >
                  <option selected>Elige una opción</option>
                  <option value="Entradas">Entradas</option>
                  <option value="Principales">Principales</option>
                  <option value="Extras">Extras</option>
                </select>
              </div>
              <div class="mb-3">
                <label for="stock" class="form-label fw-semibold">Stock:</label>
                <input
                  type="number"
                  class="form-control"
                  name="stock"
                  id="stock"
                  required
                />
              </div>
              <button
                type="submit"
                class="btn btn-outline-success form-control fw-bold"
                id="addProduct"
              >Crear Producto</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div
  class="container mt-1 rounded bg-danger text-white bg-opacity-75"
  id="productsTable"
>
  <div class="row" id="tbody">
    {{#each allProducts}}
      <div class="col-md-3 mb-4">
        <div class="card">
          <img
            src="{{this.thumbnail}}"
            alt="{{this.title}}"
            class="card-img-top"
            style="max-height: 200px; object-fit: cover;"
          />
          <div class="card-body">
            <td><h5 class="card-title">{{this.title}}</h5></td>
            <td><p class="card-text">{{this.description}}</p></td>
            <td><p class="card-text">Precio: {{this.price}}</p></td>
            <td><p class="card-text">Code: {{this.code}}</p></td>
            <td><p class="card-text">Categoría: {{this.category}}</p></td>
            <td><p class="card-text">Stock: {{this.stock}}</p></td>
            <td>
              <button
                class="btn btn-danger"
                onclick="deleteProduct(`{{this._id}}`)"
                id="btnDelete"
              >Eliminar</button>
            </td>

          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>

<script src="/socket.io/socket.io.js"></script>
{{! <script src="https://cdn.socket.io/4.7.2/socket.io.min.js"></script> }}
<!--<script src='../public/js/index.js'></script>-->
<script src="/js/index.js"></script>